.app__sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 378px;
    // flex: 1 2 378px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .app__logo {
        padding: 31px 61px;

        a {
            font-family: 'Inter', sans-serif;
            font-size: 40px;
            font-weight: 400;
            line-height: 48.41px;
            font-style: normal;
            text-decoration: none;
            color: black;
        }
    }

    .app__links {
        background: #fafafa;
        // padding: 31px 31px;
        height: 100vh;
        width: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        border-right: 1px solid rgba(28, 55, 90, 0.16);

        ul {
            list-style: none;
            position: relative;

            li {
                margin: 46px 0;
                display: flex;
                align-items: center;
                cursor: pointer;
                font-family: 'Rubik', sans-serif;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: rgba(28, 48, 74, 0.5);

                div {
                    position: absolute;
                    left: 0;
                    height: 40px;
                    width: 10px;
                    background: #fff;
                    border-radius: 0 5px 5px 0;
                }

                a {
                    text-decoration: none;
                    padding-left: 20px;
                    color: rgba(28, 48, 74, 0.5);
                }

                span {
                    position: absolute;
                    right: 5%;
                    height: 22px;
                    width: 27px;
                    background: #14a9f9;
                    color: white;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                }

                &:hover {
                    color: #14a9f9;

                    div {
                        background: #14a9f9;
                    }

                    a {
                        color: #14a9f9;
                    }
                }
            }

            .promotions {
                font-family: 'Rubik',sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: rgba(24, 39, 58, 0.94);

            }

            .active {
                color: #14a9f9;

                div {
                    background: #14a9f9;
                }

                a {
                    color: #14a9f9;
                }
            }
        }

        &::-webkit-scrollbar {
            width: 1px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(28, 55, 90, 0.16);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgba(28, 55, 90, 0.16);
        }
    }

    @media screen and (max-width: 1508px) {
       display: none;
      }
}
.app__menubar1 {
    position: fixed;
    top: 3%;
    left: 2%;
    z-index: 10;
    button {
    border:none;
    height: 50px;
    width: 50px;
    background: white;
    color: rgba(28, 48, 74, 0.8);
    cursor: pointer;
    padding: 16px;
    border-radius: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
    }
    @media screen and (min-width: 1508px) {
        display: none;
       }
}
.app__menu{
    position:fixed;
    width: 350px;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: #fff;
    z-index: 10;
    .app__logo {
        display: none;
        padding: 11px 21px;
        text-align: center;
        a {
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 48.41px;
            font-style: normal;
            text-decoration: none;
            color: black;
        }
    }
        button {
        position: absolute;
        top: 3%;
        right: 4%;
        border:none;
        transform:rotate(180deg);
        height: 50px;
        width: 50px;
        background: white;
        color: rgba(28, 48, 74, 0.8);
        cursor: pointer;
        padding: 2px;
        font-size: 16px;
        border-radius: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        z-index: 10;
        }
    .app__menu-links {
        // background: #fff;
        width: 100%;
        border-right: 1px solid rgba(28, 55, 90, 0.16);
        z-index: 2;

        ul {
            list-style: none;
            position: relative;

            li {
                margin: 46px 0;
                display: flex;
                align-items: center;
                cursor: pointer;
                font-family: 'Rubik', sans-serif;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: rgba(28, 48, 74, 0.5);

                div {
                    position: absolute;
                    left: 0;
                    height: 40px;
                    width: 10px;
                    background: #fff;
                    border-radius: 0 5px 5px 0;
                }

                a {
                    text-decoration: none;
                    padding-left: 20px;
                    color: rgba(28, 48, 74, 0.5);
                }

                span {
                    position: absolute;
                    right: 5%;
                    height: 22px;
                    width: 27px;
                    background: #14a9f9;
                    color: white;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                }

                &:hover {
                    color: #14a9f9;

                    div {
                        background: #14a9f9;
                    }

                    a {
                        color: #14a9f9;
                    }
                }
            }

            .menu-promotions {
                font-family: 'Rubik',sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: rgba(24, 39, 58, 0.94);

            }

            .active {
                color: #14a9f9;

                div {
                    background: #14a9f9;
                }

                a {
                    color: #14a9f9;
                }
            }
        }
    }

    &:hover{
        width: 350px;
        .app__logo{
            display: block;
        }
    }
    @media screen and (min-width: 1508px) {
        display: none;
       }

}