.app__activitybar {
    position: fixed;
    top: 0;
    right: 0;
    width: 430px;
    // flex: 1 2 430px;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .app__user {
        // flex: 1 2 430px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 16px 16px;

        img {
            height: auto;
            width: 100px;
        }

        h4 {
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
            font-size: 22px;
            line-height: 1px;
        }

        p {
            font-family: 'Rubik', sans-serif;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
        }

        button {
            height: 50px;
            width: 50px;
            background: white;
            border: none;
            cursor: pointer;
            padding: 16px;
            margin-left: 16px;
            border-radius: 100%;
            transition: all 0.3s ease;

            &:hover {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }
    }

    .app__activitybar-content {
        background: rgba(25, 59, 103, 0.02);
        height: 100vh;
        width: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        border-left: 1px solid rgba(28, 55, 90, 0.16);

        .app__upcoming-meeting {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 31px;

            h2 {
                font-family: 'Rubik', sans-serif;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: rgba(24, 39, 58, 0.94);
            }

            .threeDot {
                border: none;
                background: transparent;
                cursor: pointer;
                font-family: 'Rubik', sans-serif;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: rgba(24, 39, 58, 0.94);
            }
        }

        .hr {
            display: flex;
            justify-self: center;
            align-self: center;
            width: 344px;
            height: 0;
            border: 1px solid #EDEDED;
        }

        .todays-meetings {
            padding: 16px 31px;

            .head-btn {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2 {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    /* identical to box height */

                    display: flex;
                    align-items: center;

                    /* Contrast / Contrast 90% (Light) */

                    color: rgba(24, 39, 58, 0.94);
                }

                button {
                    border: none;
                    background: transparent;
                    color: rgba(24, 39, 58, 0.94);
                    cursor: pointer;
                    font-size: 20px;
                }
            }

            .meeting {
                margin-top: 16px;
                .duration-btn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        font-family: 'Rubik', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 14px;
                        color: #028CD5;
                    }

                    button {
                        border: none;
                        background: transparent;
                    }
                }

                h4 {
                    font-family: 'Rubik', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 1px;
                    color: #192434;
                }

                .due-time {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    p {
                        font-family: 'Rubik';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        // line-height: 1px;
                        color: rgba(28, 46, 69, 0.6);
                    }

                    h6 {
                        font-family: 'Rubik';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 1px;
                        color: #192434;
                    }
                }

                .clients {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .clients-dp {
                        display: flex;
                        align-items: center;

                        span {
                            height: 41px;
                            width: 41px;
                            border: 1px solid #EDEDED;
                            border-radius: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: 'Rubik', sans-serif;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 10px;
                            line-height: 12px;
                            color: rgba(17, 19, 42, 0.6);
                        }
                    }

                    button {
                        width: 113px;
                        height: 41px;
                        background: #14A9F9;
                        box-shadow: 0px 4px 40px rgba(101, 144, 255, 0.15);
                        border-radius: 5px;
                        border: none;
                        color: white;
                        font-family: 'Rubik', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
            }
        }

        &::-webkit-scrollbar {
            width: 1px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(28, 55, 90, 0.16);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgba(28, 55, 90, 0.16);
        }
    }
    &::-webkit-scrollbar {
        width: 1px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(28, 55, 90, 0.16);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(28, 55, 90, 0.16);
    }
}